<!DOCTYPE HTML>
<html>

<head>
  <title>Welcome to Bmail</title>
  <meta charset="UTF-8">
  <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
  <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
</head>

<body>

  <div class="Bmail_brez">
    <video autoplay id="bmail-logo-animation-big">
      <source src="/assets/img/bmail2.mp4" type="video/mp4">
      <img src="assets/img/Bmail_brez.png" alt="Bmail" class="Bmail">
    </video>

  </div>

  <div class="container">
    <a href="{{login_url}}"><img src="assets/img/googlesignin.png" id="google-signin"></a>

    <form>
      <label><b>Uporabniško ime</b></label>
      <input type="text" placeholder="Uporabniško ime" name="uname" required>

      <label><b>Geslo</b></label>
      <input type="password" placeholder="Geslo" name="psw" required>
      <input type="checkbox" checked="checked"> Zapomni si geslo.
      <br>
      <button type="submit">Prijavi se</button>
    </form>

  </div>




</body>
</html>